@using HRPersonnelSystem.UI.Areas.Employee.Models.EmployeeDTOs;
@model EmployeeEntity;

<div class="container-xxl flex-grow-1 container-p-y">

    <style>
        /* Butonun arka plan rengini ve metin rengini belirleyin */
        .btn.btn-primary {
            background-color: #6096B4;
            color: #000000;
            transition: background-color 0.3s, color 0.3s;
            border: 2px solid #6096B4;
        }

            /* Butonun hover efekti */
            .btn.btn-primary:hover {
                background-color: #A6D0DD;
                color: #000000;
                border: 2px solid #6096B4;
            }

        .card.mb-4 {
            background-color: #EEE9DA;
            color: #000000;
        }
    </style>
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Profil Ayarları /</span> Profilim
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Profil Bilgilerim</h5>

                <div class="ml-4 col-md-12">
                    <div class="btn-group m-4">
                        <a asp-area="Employee" asp-controller="Employee" asp-action="Details" asp-route-id="@Model.Id" type="submit" class="btn btn-primary me-2"> Detaylar </a>
                    </div>

                    <div class="btn-group">
                        <a asp-area="Employee" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" type="submit" class="btn btn-primary me-2"> Profili Güncelle </a>
                    </div>
                </div>

                <form asp-controller="User" asp-action="Profile" method="POST" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="~/images/@Model.ImagePath" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
                        </div>
                    </div>
                    <hr class="my-0">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label asp-for="FirstName" class="form-label">İSİM</label>
                                <input asp-for="FirstName" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            @if (Model.MiddleName != null)
                            {
                                <div class="mb-3 col-md-6">
                                    <label asp-for="MiddleName" class="form-label">İKİNCİ İSİM</label>
                                    <input asp-for="MiddleName" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                    <span asp-validation-for="MiddleName"></span>
                                </div>
                            }
                            <div class="mb-3 col-md-6">
                                <label asp-for="LastName" class="form-label">SOYİSİM</label>
                                <input asp-for="LastName" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                <span asp-validation-for="LastName"></span>
                            </div>
                            @if (Model.SecondLastName != null)
                            {
                                <div class="mb-3 col-md-6">
                                    <label asp-for="SecondLastName" class="form-label">İKİNCİ SOYİSİM</label>
                                    <input asp-for="SecondLastName" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                    <span asp-validation-for="SecondLastName"></span>
                                </div>
                            }
                            <div class="mb-3 col-md-6">
                                <label asp-for="Email" class="form-label">EMAİL</label>
                                <input asp-for="Email" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="PhoneNumber" class="form-label">TELEFON NUMARASI</label>
                                <input asp-for="PhoneNumber" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Address" class="form-label">ADRES</label>
                                <textarea asp-for="Address" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled></textarea>
                                <span asp-validation-for="Address"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Department" class="form-label">DEPARTMAN</label>
                                <input asp-for="Department" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                <span asp-validation-for="Department"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label asp-for="Job" class="form-label">MESLEK</label>
                                <input asp-for="Job" class="form-control" type="text" autofocus="" style="background-color: #EEE9DA;" disabled>
                                <span asp-validation-for="Job"></span>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>