@model CompanyDirectorDTO
<style>
    .navbar-nav .nav-item a {
        color: #7D6E83;
        transition: color 0.3s;
    }

        .navbar-nav .nav-item a:hover {
            color: black;
        }

    .btn-primary {
        background-color: #B3A492;
        color: #000000;
    }

    

    .dropdown-menu {
        background-color: #EEE9DA !important;
        color: #000000;
    }

    .menu-link i {
        margin-right: 10px;
    }

    .dropdown-item i {
        margin-right: 10px;
    }

    .dropdown-item span {
        display: inline-block;
        margin-right: 10px;
    }

    .avatar img {
        width: 100%;
        height: auto;
        height: 100px; /* Set the height to the desired size */
        border-radius: 10%
    }

    form button.dropdown-item span.flex-grow-1.align-middle {
        color: #7D6E83;
        transition: color 0.3s;
    }

    form button.dropdown-item.cikis-yap span.flex-grow-1.align-middle {
        color: black; 
        background-color: #7D6E83 !important;
    }

    form button.dropdown-item.cikis-yap span.flex-grow-1.align-middle {
        color: black !important;
        transition: color 0.3s;
    }

        form button.dropdown-item.cikis-yap span.flex-grow-1.align-middle:hover {
            color: #7D6E83;
        }
</style>
<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">

        <input type="hidden" asp-for="Id" />
        <div class="avatar">
            <img src="~/images/@Model.ImagePath" alt="" class="w-px-40 h-auto">
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="#">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar">
                            <img src="~/images/@Model.ImagePath" alt="" class="w-px-50 h-auto">
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <span class="fw-semibold d-block"> @Model.FirstName @Model.LastName </span>
                        @* <small class="text-muted"> @Model.Role </small> *@
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a asp-area="CompanyDirector" asp-controller="CompanyDirector" asp-action="Details" class="dropdown-item">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle"> Profilim </span>
            </a>
        </li>

        <li>
            <a asp-area="CompanyDirector" asp-controller="CompanyDirector" asp-action="Index" class="dropdown-item">
                <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                    <span class="flex-grow-1 align-middle"> Ana Sayfaya Dön </span>
                </span>
            </a>
        </li>
        <form method="post" asp-area="" asp-controller="Auth" asp-action="Logout">
            <button type="submit" class="dropdown-item">
                <span class="d-flex align-items-center align-middle">
                    <i class='bx bxs-lock-open'></i>
                    <span class="flex-grow-1 align-middle"> Çıkış Yap </span>
                </span>
            </button>
        </form>

        @* <li>
        <div class="dropdown-divider"></div>
        </li>
        <li> *@

        @* ****LOGOUT BUTONU *@

        @* <a class="dropdown-item" asp-area="Admin" asp-controller="Authorize" asp-action="Logout">
        <i class="bx bx-power-off me-2"></i>
        <span class="align-middle">Çıkış Yap</span>
        </a>
        </li> *@
    </ul>
</li>